.body {
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity = 1);
    filter: progid:DXImageTransform.Microsoft.Alpha(1, 2, 3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = "#917c4d", endColorstr = "#ffffff");
    background: -khtml-url(asd) -webkit-url(dodo) -moz-url(tata) -ms-url(taktak)
}