header {
    background: -moz-radial-gradient(center, ellipse cover, rgba(153, 218, 255, 1) 0%, rgba(0, 128, 128, 1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(153, 218, 255, 1)), color-stop(100%, rgba(0, 128, 128, 1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(153, 218, 255, 1) 0%, rgba(0, 128, 128, 1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(153, 218, 255, 1) 0%, rgba(0, 128, 128, 1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(153, 218, 255, 1) 0%, rgba(0, 128, 128, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(153, 218, 255, 1) 0%, rgba(0, 128, 128, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = "#99DAFF", endColorstr = "#008080", GradientType = 1)
}