header {
    color: #ffffff;
    color: #e08585
}

article {
    color: #14f014
}

body {
    color: #ffffff;
    color: #ffffff;
    color: #ffffff
}

html {
    color: #800080;
    color: #ffff00;
    color: #008000
}