h1 , h2, h3,h4
    color rgb(220,120, 30 )
    border-color #f3f
    border-bottom-color hsl(350, 80%, 80%)
    background-color red
    font-size 10px
    .sort 
        color sdfsd
    
====

h1, h2, h3, h4 {
    color: rgb(220, 120, 30);
    border-color: #ff33ff;
    border-bottom-color: #0;
    background-color: #ff0000;
    font-size: 10px
}

h1 .sort, h2 .sort, h3 .sort, h4 .sort {
    color: sdfsd
}